doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Chatroom
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon',href='https://yellowrush.com/wp-content/uploads/2017/03/cropped-Group-16-1-32x32.png',sizes='32x32')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/js/lib/emoji/css/emoji.css')
    link(rel='stylesheet', href='/js/lib/emoji/css/nanoscroller.css')
    
  body
    block body
