doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Chatroom
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
