/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
	font-family: 'Raleway', sans-serif;
	background: #eee;
	background-color: #eee;
}
input, a, table{
	font-family: 'Raleway', sans-serif;
}

.app{
 	width:622px;
 	overflow: hidden;
 	float: left;
	background: #fff;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.app-close{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.app-open{
 	width:622px;
 	height: 407px;
	border-radius: 2px;
}
.app-triger{
	width: 30px;
	height: 30px;
	position: absolute;
	color:#00bd71;
	border-radius: 15px;
	cursor: pointer;
}
.app-triger i{
	padding: 7px;
}
.msg-count{
	padding:2px 3px 1px 2px;
	top: -5px;
	left:20px;
	border-radius:10px;
	background: #f44336;
	color: #fff;
	font-family: arial;
	font-size: 9px;
	position: absolute;
}
.msg-box {
  	float: left;
 	width:398px;
 	padding: 10px;
  	border-left: 1px solid #eee;
  	border-right: 1px solid #eee;
}

.msg-container{
  height: 320px;
  overflow-y: auto;
}
.msg-box .overflowable {
  height: 320px;
  overflow-y: auto;
  padding-top: 20px;
}
.msg{
	margin-bottom: 10px;
}
.msg-list{
	float: left;
	width: 200px;
}
.msg-list .operate{
	height: 30px;
  	border-bottom: 1px solid #eee;
	position: relative;
}
.msg-list .overflowable {
  height: 345px;
  overflow-y: auto;
}
.operate .title{
	padding: 0px 6px 0px 8px;
	line-height: 30px;
	font-weight: 700;
	height: 30px;
	float: left;
	max-width: 100px;
	overflow: hidden;
}
.operate .oper-list{
	position: absolute;
	right: 0;
}
	.oper-list i{
		padding: 8px;
		cursor: pointer;
		display: block;
	}

.msg-list .user{
	padding: 6px 8px;
}
.user-online:before{
	content: '';
	width: 8px;
	height: 8px;
	border-radius:5px;
	margin: 5px 8px 5px 0;
	float: left;
	background: #00bd71;
	background-color: #00bd71;
}
.user:hover{
	background: #f6f6f6;
	background-color: #f6f6f6;
	color:#00bd71;
}
.msg-list .user:hover{

}

.msg-send{
	border-top: 1px solid #eee;
	padding-top: 10px;
	position: relative;
}
.msg-send .m{
	width: 290px;
	float: left;
	padding:11px 2px 8px 0px;
	margin-left: 30px;
	font-size: 1em;
	border: none;
	opacity: .3;
}
.msg-send .m:focus{    
	outline:none;
	opacity: 1;
}
.msg-send .s{
	float: right;
	width: 70px;
	height: 34px;
	margin-top: 5px;
	font-size: 1em;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: #00bd71;
	background-color: #00bd71;
	cursor: pointer;
}
.msg-send .s:hover{
	background: #00db83;
	background-color: #00db83;
}

.change-name{
	background: #fff;
	padding: 8px;
	float: left;
}
	.change-name input.newName{
		width: 163px;
		padding:10px;
		font-size: 1em;
		border: none;
		border-bottom: 1px solid #eee;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.change-name input.submitName{
		padding: 8px 10px;
		font-size: 1em;
		border: none;
		border-radius: 5px;
		color: #fff;
		float: right;
		background: #4298cc;
		background-color: #4298cc;
		cursor: pointer;
	}
	.change-name input.submitName:hover{
		background: #4caae2;
		background-color: #4caae2;
	}
.version{
	padding: 8px;
	font-size: .7em;
	text-align: right;
  	border-top: 1px solid #eee;
	border-radius: 5px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}